@charset "UTF-8";

/* 
    Typical Device Breakpoints
    Pequenas Telas : até 600px
    Celular : de 600px a 768px
    Tablet : 768px a 992px
    Desktop : 992px a 1200px
    Telas Maiores : mais que 1200px 
*/

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }

    #menu{
        display: block;
        width: 100vw;
        box-shadow: 2px 5px var(--cor5);
    }

    #menu > ul > li{
        display: inline-block;
        border-right: 2px solid black;
        letter-spacing: 3px;
    }

    #menu > ul > li > a{
        box-shadow: none;
        margin: 0 30px;
    }

    .main > .dinamico > h1{
        font-size: 3.5em;
    }

    div#perfil{
        position: relative;
        border: 30px solid #0A0000;
        display: block;
        height: 406px;
        width: 472px;
        margin: auto;
        background: url(../Imagens/foto.png) no-repeat;
        background-position: center center;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    .janela{
        width: 800px;
        margin: 20px auto;
        height: 100vh;
    }

    .conteudo > p{
        font-size: 2em;
    }
}