@charset "UTF-8";

@font-face {
    font-family: 'titulo';
    src: url(../Fontes/static/RobotoMono-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'padrao';
    src: url(../Fontes/Quicksand-VariableFont_wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor1: #4ACEDD;
    --cor2: #1B9DAA;
    --cor3: #025865;
    --cor4: #003F4E;
    --cor5: #0A0000;
    --fonte-titulo: 'titulo', cursive;
    --fonte-padrao: 'padrao', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to top, var(--cor2), var(--cor4));
    height: 100%;
    width: 100%;
}

span#burguer{
    display: block;
    text-align: center;
    background-color: var(--cor5);
    color: var(--cor2);
    cursor: pointer;
}

nav{
    display: none;
    background-color: var(--cor1);
    text-align: center;
    box-shadow: 2px 5px var(--cor4);
}

nav > ul > li > a{
    display: block;
    text-decoration: none;
    font-family: var(--fonte-titulo);
    color: white;
    font-weight: bold;
    padding: 10px;
    box-shadow: 2px 2px rgb(99, 98, 98);
}

.abas{
    display: none;
}

nav > ul > li:hover{
    cursor: pointer;
    background-color: var(--cor3);
    transition: 0.5s;
}

.main{
    background-image: url(../Imagens/pngegg.png);
    background-size: 5%;
}

.main > .dinamico > h1{
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 3.5em;
    border-right: 2px solid rgb(255, 255, 255, .75);
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.dinamico > h2{
    font-family: var(--fonte-titulo);
    text-align: center;
    color: white;
    margin: 20px;
}

div#perfil{
    position: relative;
    border: 30px solid #0A0000;
    display: block;
    height: 500px;
    width: 400px;
    margin: auto;
    background: url(../Imagens/foto\ de\ perfil.jpeg);
    background-position: center center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.janelas{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.janelas > .card{
    display: flex;
    position: relative;
    width: 325px;
    height: 270px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: var(--cor3);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}

.janelas > .card > .conteudo{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.janelas > .card:hover > .conteudo{
    transform: translateY(0px);
    opacity: 1;
}

.janelas > .card > .conteudo > h2{
    font-family: var(--fonte-padrao);
    color: white;
    font-weight: bold;
}

.janelas > .card > .conteudo > p{
    font-family: var(--fonte-padrao);
    color: white;
}

.janelas > .card > .conteudo > a{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid var(--cor5);
    background-color: var(--cor4);
    color: white;
    border-radius: 5px;
    font-family: var(--fonte-padrao);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.616);
}

.janelas > .card > .conteudo > a:hover{
    background-color: white;
    color: var(--cor5);
}

.cursor{
    animation: blinkCursor 500ms steps(30) infinite normal,
    typing 3s steps(30) normal both;
}

@keyframes blinkCursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}

@keyframes typing{
    from {
        width: 0;
    }
    to{
        width: 100%;
    }
}