@charset "UTF-8";

@font-face {
    font-family: 'titulo';
    src: url(../Fontes/static/RobotoMono-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'padrao';
    src: url(../Fontes/Quicksand-VariableFont_wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor1: #4ACEDD;
    --cor2: #1B9DAA;
    --cor3: #025865;
    --cor4: #003F4E;
    --cor5: #0A0000;
    --fonte-titulo: 'titulo', cursive;
    --fonte-padrao: 'padrao', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.janela{
    position: relative;
    background-size:  contain;
    height: 500px;
    margin: 20px;
    background-image: url(../Imagens/janela1000.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.conteudo > p{
    position: absolute;
    padding: 10px;
    margin-top: 16.5%;
    margin-left: 2.55%;
    margin-right: 2.5%;
    border-radius: 0 0 20px 16px;
    text-indent: 30px;
    font-size: 1em;
    font-family: var(--fonte-padrao);
    color: white;
}

body{
    background-image: linear-gradient(to top, var(--cor2), var(--cor4));
    height: 100vh;
}

span#burguer{
    display: block;
    text-align: center;
    background-color: var(--cor5);
    color: var(--cor2);
    cursor: pointer;
}

nav{
    display: none;
    background-color: var(--cor1);
    text-align: center;
    box-shadow: 2px 5px var(--cor4);
}

nav > ul > li > a{
    display: block;
    text-decoration: none;
    font-family: var(--fonte-titulo);
    color: white;
    font-weight: bold;
    padding: 10px;
    box-shadow: 2px 2px rgb(99, 98, 98);
}

.abas{
    display: none;
}

nav > ul > li:hover{
    cursor: pointer;
    background-color: var(--cor3);
    transition: 0.5s;
}

h1{
    text-align: center;
    margin-top: 30px;
    font-family: var(--fonte-padrao);
    font-size: 2.5em;
    border-right: 2px solid rgb(255, 255, 255, .75);
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

p{
    font-family: var(--fonte-padrao);
    padding: 20px;
    color: white;
}