@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Fraunces:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --vermelho: hsl(7, 99%, 70%);
    --amarelo: hsl(51, 100%, 49%);
    --texto-graphic: hsl(167, 40%, 24%);
    --texto-fotografia: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --azul-escuro-dessaturado: hsl(212, 27%, 19%);
    --cinza-p: hsl(213, 9%, 39%);
    --cinza: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --branco: hsl(0, 0%, 100%);
}

html{
    font-size: 18px;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Fraunces', serif;
    margin: 0 auto;
    max-width: 390px;
}

p, small {
    font-family: 'Barlow', serif;
    color: var(--dark-grayish-blue);
}

li{
    list-style: none;
    cursor: pointer;
}

header{
    background: url(../Imagens/Mobile/image-header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.desktop_nav{
    display: none;
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.triangle{
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid #fefefe;
    border-bottom: 25px solid transparent;
    position: absolute;
    top: -1.2rem;
    right: 0rem;
}

.close_open{
    opacity: 0.8;
    cursor: pointer;
}

.mobile_nav{
    position: absolute;
    background-color: white;
    width: 90%;
    height: 18rem;
    top: 5rem;
    text-align: center;
    transition: all 0.4s ease-in;
    display: none;
}

.mobile_nav.open{
    display: inline-block;
}

.mobile_nav ul li {
    margin: 2rem;
    color: var(--very-dark-grayish-blue);
    opacity: 0.8;
    font-family: 'Barlow', serif;
    font-weight: 700;
    transition: all 0.4s ease-in;
  }
  
  .mobile_nav ul li:hover {
    transform: scale(1.04);
  }
  
  .mobile_nav ul li.contact {
    background-color: var(--amarelo);
    padding: 1rem;
    border-radius: 5rem;
    width: 50%;
    font-family: 'Fraunces';
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    margin: 0 0 0 5rem;
  }

  .mobile_nav ul li.contact {
    background-color: var(--amarelo);
    padding: 1rem;
    border-radius: 5rem;
    width: 50%;
    font-family: 'Fraunces';
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    margin: 0 0 0 5rem;
}

.titulo{
    text-align: center;
}

.titulo h1{
    margin: 3.7rem 0 2.7rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: var(--branco);
    letter-spacing: 4px;
}

.container{
    text-align: center;
}

.ovo , .taca{
    height: 45vh;
}

.card .text{
    height: 50vh;
}

.ovo{
    background: url(../Imagens/Mobile/ovo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.taca{
    background: url(../Imagens/Mobile/image-stand-out.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.cards .text{
    height: 50vh;
}

.cards .text p {
    padding: 1rem 1.5rem;
    line-height: 1.3;
}

.cards .text h2 {
    font-size: 2.2rem;
    color: var(--azul-escuro-dessaturado);
    margin: 3rem 1rem 1rem;
}

.botao{
    border: none;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: white;
    color: var(--azul-escuro-dessaturado);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}

.botao.transform::after{
    background-color: var(--amarelo);
}

.botao.standout::after{
    background-color: var(--vermelho);
}

.botao.transform, .botao.standout {
    position: relative;
}

.botao.transform::after, .botao.standout::after {
    content: '';
    height: 7px;
    width: 110%;
    position: absolute;
    bottom: -0.1rem;
    left: -0.35rem;
    opacity: 0.4;
    border-radius: 3px;
}

.join {
    display: flex;
    flex-direction: column;
}

.photography_text, .graphic_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.graphic_text p{
    color: var(--texto-graphic);
}

.photography_text p{
    color: var(--texto-fotografia);
}

.cherry{
    background: url(../Imagens/Mobile/image-graphic-design.jpg) no-repeat;
}

.orange{
    background: url(../Imagens/Mobile/image-photography.jpg) no-repeat;
}

.cherry, .orange{
    background-position: top;
    background-size: 100%;
    height: 32rem;
}

.testimonial{
    margin: 2.5rem 0;
    padding: 0 1.5rem;
}

.clientes h2{
    color: var(--cinza);
    margin: 1rem 0 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    opacity: 0.9;
}

.testimonial small {
    font-size: 0.85rem;
    opacity: 0.7;
}

.clientes p {
    opacity: 0.85;
    line-height: 1.5;
    color: var(--cinza-p);
    margin-bottom: 1.5rem;
}

.clientes h3 {
    margin-bottom: 0.5rem;
    color: var(--azul-escuro-dessaturado);
}

.clientes img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.nuvem{
    background: url(../Imagens/Mobile/nuvem.jpg) no-repeat;
}

.laranja{
    background: url(../Imagens/Mobile/laranja.jpg) no-repeat;
}

.acucar{
    background: url(../Imagens/Mobile/acucar.jpg) no-repeat;
}

.cone{
    background: url(../Imagens/Mobile/cone.jpg) no-repeat;
}

.acucar, .laranja, .cone, .nuvem {
    background-position: center;
    background-size: 100%;
    height: 10rem;
    width: 10.7rem;
}

.imagens {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: hsl(168, 66%, 52%);
    text-align: center;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    gap: 2rem;
}

footer ul li{
    color: var(--cinza-p);
    font-family: 'Barlow', serif;
    font-size: 0.9rem;
    font-weight: 900;
    opacity: 0.8;
    transition: all 0.4s ease-in;
}

footer > img{
    margin: 2.5rem 0 1.5rem;
    filter: invert(35%) sepia(22%) saturate(790%) hue-rotate(118deg) brightness(50%) contrast(92%);
}

footer ul li:hover {
    transform: scale(1.04);
    color: white;
}

footer .socials img{
    margin-left: 1rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.creditos a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    body {
      max-width: 100%;
    }

    .desktop_nav ul {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-right: 2.5rem;
    }

    .desktop_nav ul li {
        font-family: 'Barlow', serif;
        font-size: 0.9rem;
        color: white;
        transition: all 0.4s ease-in-out;
    }
}