@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face{
    font-family: 'diabloL';
    src: url(Fonte/DiabloLight.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'padrao';
    src: url(Fonte/Kanit-Light.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --fonte-padrao: 'padrao', cursive;
    --fonte-fraca : 'diabloL', cursive;
    --cor1 : #1D291B;
    --cor2 : #101614;
}


html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

header{
    background-image: url(Imagens/diablo-3-reaper-of-souls-patch-212-released-season_t2aq.jpg);
    background-position: center center;
    background-color: black;
    min-height: 85px;
    width: 100vw;
    padding-top: 15px;
    text-align: center;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.301);
}

header > h1{
    color: rgb(234, 207, 160);
    font-family: var(--fonte-fraca);
    font-weight: normal;
    font-size: 4em;
    margin-top: 5px;
    margin-bottom: 20px;
    text-shadow: 5px 1px rgba(0, 0, 0, 0.541);
}

body{
    background-image: url(Imagens/Loading_Screen.jpg);
    position: relative;
    min-width: 100vh;
    background-size: cover;
    height: max-content;
}

section{
    background-image: url(Imagens/papiro.jpg);
    background-size: cover;
    background-color: var(--cor2);
    margin: auto;
    margin-top: 25px;
    width: 90vw;
    padding: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

.imagem{
    background-size: cover;
    height: 550px;
    width: 70vw;
}

section#img1{
    background-image: url(Imagens/Builds/Cruzado/BuildCruzadoPunho.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

section#img2{
    background-image: url(Imagens/Builds/Monge/BuildMongeInna.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

section#img3{
    background-image: url(Imagens/Builds/Monge/Uliana.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

section > h2, h3{
    font-family: var(--fonte-fraca);
    font-size: 2.5em;
    border-bottom: 2px solid black;
}

section > p{
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-weight: bold;
    text-indent: 40px;
}

section > ul > li{
    font-family: var(--fonte-padrao);
    font-size: 18px;
    margin-left: 20px;
}

.conjunto{
    color: rgb(0, 87, 0);
}

.lendario{
    color: rgb(255, 166, 0);
    background-color: rgb(116, 75, 1);
}

.fim{
    font-family: var(--fonte-fraca);
    font-size: 3em;
    text-align: center;
}